# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore unnecessary Android Studio/IntelliJ IDEA files
.idea
local.properties

# Ignore configuration files
config.json